body {
        background: black;
        display: flex;
        justify-content: center;

}
.cuerpo-publicacion{
    width: 500px;
    height: 600px;
    background-color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
}
.no-margin {
    margin: 0;
    padding: 0;
}
.izquierda {
    display: flex;
    align-items: center;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.fa-2x {
margin:10px;
}
.fa-solid {
margin: 15px;
}
.iconos{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}
.banderita-derecha {
    margin: 0px 15px;
}
.likes {
    margin: 10px;
}
.descripcion {
    margin: 10px;
}